### Time Series plot with Plotly
Plotly is one of a number of graphics packages that's available  
for Python, R and javascript. This example uses Python.  
  
The dataset was created from hypothetical sales data  
of USA and non-USA sales.

In [22]:
import plotly
import pandas as pd

#### Offline graphs
There are a number of ways to create graphs in Plotly.  
This example displays offline and in a Jupyter notebook  
so the line of code below is needed to initialize notebook mode.

For more information:  
https://plot.ly/python/getting-started/

In [23]:
plotly.offline.init_notebook_mode(connected=True)

#### Read Data
Data for the graph was read from a csv file.  
The data was adjusted by dividing into thousands  
so that the value comparison would be easy to view.

In [24]:
data = pd.read_csv('H:\\My Documents\\Work\\datasets\\line_data.csv')

In [25]:
data.head()

    month  sales_usa  sales_non-usa
0  14-Jan    4670804         670325
1  14-Feb    4453093         634425
2  14-Mar    4297052         673990
3  14-Apr    4124673         667043
4  14-May    4234953         844018

In [26]:
data['sales_usa'] = (data['sales_usa'] / 1000)
data['sales_non-usa'] = (data['sales_non-usa'] / 1000) # adjust data for y scale 0 to 6200

#### Graph
The graph is a plots two time series; one representing  
USA sales and the other non-USA sales. Line graphs use  
the scatter type in plotly.  

Annotations are used to label the graph lines instead  
of using a legend. Annotated text was positioned relative  
to the y values and the title was positioned based on the graph.

In [33]:
#range yaxis defaults to the data --won't start at 0 by default

figure = {
    
    'data': [
        {
        'type': 'scatter',
        'x': data['month'],
        'y': data['sales_usa'],
        'opacity': 0.7,
        'line': {'color': 'rgb(60, 100, 160'}
        },
    
        {
        'type': 'scatter',
        'x': data['month'],
        'y': data['sales_non-usa'],
        'opacity': 1.0,
        'line': {'color': 'rgb(215, 145, 25'}
        }
        
    ],
    
    'layout': {'xaxis': {'title': 'Months', 'showgrid': False}, 
               'yaxis': {'title':'Sales in thousands', 'range': [0, 6200]},
               'showlegend': False,
               'annotations': [
                   {'x': 3, 'y':4800, 'xref': 'x', 'yref': 'y', 'text': 'USA', 'font': {'size': 16}, 'showarrow': False},
                   {'x': 4, 'y': 1200, 'xref': 'x', 'yref': 'y', 'text': 'Non-USA', 'font': {'size': 16}, 'showarrow': False},
                   {'x': 0, 'y': 1.05, 'xref': 'paper', 'yref': 'paper', 'text': 'Sales by Month', 
                    'xanchor': 'left', 'yanchor': 'bottom', 'font': {'size': 24}, 'showarrow': False}
                   
               ]}  
    
}

In [34]:
plotly.offline.iplot(figure)